/ application scripts
#{javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.js"}
/ TODO use cdnjs.com once they serve marked
#{javascript_include_tag "//raw.github.com/chjj/marked/master/lib/marked.js"}
#{javascript_include_tag "app"}
#{javascript_include_tag "services"}
#{javascript_include_tag "reader/markdown"}
#{javascript_include_tag "reader/json"}
#{javascript_include_tag "controllers"}
