doctype html
html(ng-app="sideBySide")
	head
		title Side By Side viewer
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Noticia+Text:400,700,400italic,700italic")

		if min == true
			link(rel="stylesheet", type="text/css", href="css/styles.css")
			script(src="js/scripts.js")
		else
			for style in styles
				link(rel="stylesheet", type="text/css", href="#{style}")
			for script in scripts
				script(src="#{script}")

	body(ng-controller="AppController")
		noscript Well, terribly sorry but you do need to have Javascript enabled.

		// top menu
		.pure-menu.pure-menu-open.pure-menu-horizontal.menu-main
			ul
				li
					a(href="#{{base}}") Home
				li
					a(href="#{{base}}/help") Help
				li
					a(href="#{{base}}/about") About

		div(ng-view class="cols-{{columns}}")
