doctype html
html(ng-app="sideBySide" ng-controller="AppController")
	head
		base(href="#{base}")
		title(ng-bind="title()") Side By Side viewer
		meta(charset="utf-8")
		meta(name="description", content="{{ description() }}")
		link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Alegreya:400,400italic,700&subset=latin,latin-ext,greek,greek-ext,cyrillic,cyrillic-ext,vietnamese")
		if html5Mode == true
			script.
				html5Mode=true;
		else
			script.
				html5Mode=false;
		if min == true
			link(rel="stylesheet", type="text/css", href="styles/all_min.css")
			script(src="scripts/all_min.js")
		else
			for style in styles
				link(rel="stylesheet", type="text/css", href="#{style}")
			for script in scripts
				script(src="#{script}")

	body
		noscript Well, terribly sorry, but you do need to have Javascript enabled for this to work.

		// top menu
		.pure-menu.pure-menu-open.pure-menu-horizontal.menu-main
			ul
				li(ng-repeat="link in links")
					a(href="" ng-click="display(link.display)" ng-bind-html="link.text")
				li
					a(href="" ng-click="flipPick()")
						i.fa.fa-bars
						span Pick
				li
					a(href="" ng-click="showPage('help')")
						i.fa.fa-question-circle
						span Help
				li
					a(href="" ng-click="showPage('about')")
						i.fa.fa-info-circle
						span About

		div(ng-controller="ComparisonController" class="cols-{{columns}}")
			include includes/comparison.html.jade
