!!! 5
%html
    %head
        %title Side By Side test suite
        %meta{:charset => "utf-8"}
        = render_partial 'scripts'

        / test scripts
        #{stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/qunit/1.11.0/qunit.css"}
        #{javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/qunit/1.11.0/qunit.js"}
        #{javascript_include_tag "tests/reader/markdown"}
        #{javascript_include_tag "tests/reader/json"}

    %body
        %div{:id => "qunit"}
